@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p><a href="GridExample">Link to server side Blazor.Bootstrap grid page</a></p>

<p><a href="ClientGridExample">Link to client side Blazor.Bootstrap grid page</a></p>
